/* heading */
.heading {
    background-color: rgb(19, 73, 167); 
    color: #fff;
}

.name {
    /* text-align: center;
    margin-top: 25px;
    margin-left: 20px; */
}

.contact {
    /* margin-left: 300px; */
}

/* main body */
.container {
    
}

.left {

}

.right {
    
}